<div id="<%= id %>_x_version">
  <span id="<%= id %>-placeholder"></span>
  <div class="header">
    <h3><%= title %></h3>
    Label: <select id="<%= id %>-version_selector"></select>
  </div>
  <canvas id="label-<%= id %>-chart" width="800" height="600"></canvas>
</div>
