<div id="<%= id %>_x_version">
  <div class="header">
    <h3><%= title %></h3>
    Label: <select id="<%= id %>-version_selector"></select> 
    <span id="<%= id %>-placeholder"></span>
  </div>
  <canvas id="label-<%= id %>-chart" width="1280" height="720"></canvas>
</div>
