<html>
<head>
<title>Logstash benchmarking microsite</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/Chart.js"></script>
</head>
<body>

<div class="logstash-logo">
  <a href="http://github.com/elastic/logstash"><img src="img/logstash.png"/></a>
  <div class="title">The Logstash meter</div>
</div>

<div id="wrapper">
  <div id="header">
    <div class="title">The Logstash meter</div>
    <div class="subtitle">Numbers arround Herr Loggy</div>
  </div>
  <div id="body">
    <h2>Results per test</h2>
    <p>In this section you can see how inidivitual test are performing. By selecting a test you will he it's evolution over time</p>
    <%= erb :_chart_selector, :locals => {:id => "test-events", :title => "Number of events"} %>
    <%= erb :_chart_selector, :locals => {:id => "test-tps", :title => "Transactions / second"} %>

    <h2>Aggregated results</h2>
    <p> Never the less to see aggregated results is also nice, in this last section you will see how the aggregation of all test executed are performing over time.</p>
    <%= erb :_chart,          :locals => {:id => "events", :title => "Number of events generated"} %>
    <%= erb :_chart,          :locals => {:id => "tps", :title => "Transactions / second"} %>
    <%= erb :_chart,          :locals => {:id => "starttime", :title => "Startup time"} %>
    <%= erb :_chart,          :locals => {:id => "elapsed", :title => "Duration"} %>
  <div>
  <div id="footer">
    <p>Thanks for looking at the Logstash meter, if you find it interesting, find a bug, etc let us know, all kind of contributions are welcome.</p>
    <p>You can find the code used to run this at <a href="http://github.com/elastic/logstash-performance-testing">github</a>. </p>
    <%= Time.now.year %> Elatic.co
  </div>

</div>
</body>
</html>
<script type="text/javascript" src="js/microsite.js"></script>
